*{
    box-sizing: border-box;
}

h1{
    font-size: 2em;
    font-weight: bolder;
}

h2{
    font-size: 1.5em;
    font-weight: bolder;
}

h3{
    font-size: 1.17em;
    font-weight: bolder;
}

h4{
    font-size: 1em;
    font-weight: bolder;
}

h5{
    font-size: .83em;
    font-weight: bolder;
}

h6{
    font-size: .67em;
    font-weight: bolder;
}

a{
    text-decoration: none;
}

main{
    min-height: 100vh;
}

/* Home page */

.home-container, .mani-container{
    min-height: 100vh;
    height: auto;
    font-family:'Lato',sans-serif;
}

.page-header{
    width: 100%;
    display: flex;
    /* border: 3px solid red; */
    padding: 0.5rem 3rem;
    /* padding-bottom: 0; */
}

@media only screen and (max-width:720px){
    .page-header{
        padding: 0;
    }
}

.nav-header{
    width: 30%;
}

.nav-header h1{
    color: #ff8a00;
    font-weight: 300;
    font-size: 3rem;
    font-family:'Lato',sans-serif; 
}

@media only screen and (max-width:720px){
    .nav-header h1{
        margin-left: 1rem;
    }
}

.page-nav{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.page-nav ul li{
    display: inline-block;
    padding: 0 1rem;
}

.page-nav a{
    color: #ff8a00;
    font-weight: 200;
}

.diff-nav{
    color: #8fa382;
    font-weight: bolder;
}

.diff-nav:hover{
    text-decoration: underline;
}



.page-nav a:hover{
    text-decoration: underline;
}

/* homepage banner */

.home-body{
    /* border: 3px solid red; */
    height: auto;
    width: 100%;
    margin-top: 2rem;
}

.home-banner{
    /* border: 3px solid black; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 3rem;
}

@media only screen and (max-width:720px){
    .home-banner{
        /* border: 3px solid black; */
        padding: 0.5rem;
    }
}

.banner-text{
    /* border: 3px solid black; */
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
}

@media only screen and (max-width:720px){
    .banner-text{
        margin-left: 0.2rem;
    }
}

.banner-text h1{
    color: #ff8a00;
    font-weight: 300;
    min-height: 4.875rem;
}

.banner-text p{
    margin: 1rem 0;
    color: #4a2c2a;
    font-weight: 300;
}

.banner-text button{
    background-color:#ff8a00;
    border: 1px solid #ff8a00;
    color: #fff;
    width: 20%;
    margin: 2rem auto;
    padding: 0.8rem 2rem;
    display: block;
}


.banner-text button:hover {
    background-color:#4a2c2a;
    border: 1px solid #4a2c2a;
}

@media only screen and (max-width:720px){
    .banner-text button{
        width: 70%;
        margin: 2rem 0;
    }

    .banner-text button:hover {
        background-color:#ff8a00;
        border: 1px solid #ff8a00;
    }
}

.banner-image{
    /* border: 3px solid black; */
    height: 100%;
    width: 50%;
}

.banner-image img{
    width: 100%;
    height: 100%;
}

.home-sec-two{
    height: 400px;
    width: 100%;
    background-color: #4a2c2a;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.home-sec-two h1{
    color: #fff;
    margin: 1.5rem;
    font-weight: lighter;
}

.home-sec-two button{
    background-color:#ff8a00;
    border: 1px solid #ff8a00;
    color: #fff;
    padding: 0.8rem 2rem;
    display: block;
}

.home-sec-two button:hover {
    background-color:#fff;
    border: 1px solid #fff;
    color: #4a2c2a;
}

@media only screen and (max-width:720px){
    .home-sec-two button{
        width: 100%;
        padding: 0.8rem 5rem;
        margin-top: 2rem;
    }

    .banner-text button:hover {
        background-color:#ff8a00;
        border: 1px solid #ff8a00;
    }
}

/* home footer */

footer{
    padding: 3rem;
    text-align: center;
    color: #c8c8c8;
}


/* Manifesto */

.manifesto-body{
    background-color: #4a2c2a;
    margin-top: 1rem;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.page-title{
    margin-bottom: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ff8a00;
    border-left: 3px solid #ff8a00;
    padding: 2rem ;
    margin: 2rem;
    margin-top: 4rem;
}

@media only screen and (max-width:720px){
    .page-title{
        margin-left: 2rem ;
        padding: 0.5rem;
    }
}

.mani-header{
    border: 5px solid #4a2c2a;
    padding-left: 4rem;
}

@media only screen and (max-width:720px){
    .mani-header{
        padding-left: 0;
        border: 1px solid #4a2c2a;
    }
}

.manifesto-body p{
    width: 70%;
    margin: 2rem auto;
    margin-bottom: 3rem;
}

.mani-text{
    font-size: 200%;
    font-weight: 200;
    padding-bottom: 8rem;
}

@media only screen and (max-width:720px){
    .manifesto-body p{
        width: 95%;
        font-size: 100%;
    }
}


/* Terms */

.terms-body{
    /* border: 3px solid black; */
    min-height: 100vh;
    padding: 0 10rem;
}

@media only screen and (max-width:720px){
    .terms-body{
        padding: 0 1rem;
    }
}

.terms-body ul{
    list-style-type: "- ";
    padding: 0.5rem 5rem;
}

.terms-body ol{
    padding: 0.5rem 5rem;
}

.terms-body ol li{
    padding-left: 1rem;
}

@media only screen and (max-width:720px){
    .terms-body ul{
        padding: 0.5rem 2rem;
    }
    .terms-body ol{
        padding: 1rem;
    }
}

.terms-body ul li{
    margin-bottom: 1rem;
}

.nested-list ul{
    list-style-type: disc;
    padding: 1rem 8rem;
}

@media only screen and (max-width:720px){
    .nested-list ul{
        padding: 0.5rem 3rem;
    }
}

.nested-list ul li{
    margin-bottom: 0.5rem;
}

.terms-body a{
    color: #ff8a00;
}

.terms-body a:hover{
    text-decoration: underline;
}

@media only screen and (max-width:720px){
    .terms-body a:hover{
        text-decoration: none;
    }
}


.terms-header{
    /* border: 1px solid red; */
    color: #4a2c2a;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 320;
    margin-top: 2rem;
    margin-bottom: 5rem;
    font-size: 1.2em;
}

@media only screen and (max-width:720px){
    .terms-header{
        margin-bottom: 3rem;
    }
}

.terms-content-section-one{
    /* border: 1px solid blue; */
    margin-bottom: 2rem;
}


.terms-content-section-one p{
    color: #333;
}

.terms-content-sections{
    /* border: 1px solid green; */
}

.terms-content-section {
    /* border: 1px solid red; */
}

.terms-content-section h3{
    font-size: 1.75em;
    color: #4a2c2a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 320;
    margin-bottom: 1rem;
}

.terms-content-section p{
    color: #333;
    margin-bottom: 1.2rem;
}

.terms-container .page-header{
    box-shadow: 1px 2px 20px #c8c8c8;
    margin-bottom: 5rem;
    padding-bottom: 1rem;
}

.terms-container footer{
    margin-top: 10rem;
    border-top: 0.2px solid #c8c8c8;
}


/* Privacy */
.privacy-body{
    color: #333;
}

.privacy-date h2{
    color: #4a2c2a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    margin-bottom: 2rem;
}

.terms-content-section h4{
    color: #4a2c2a;
    margin-bottom: 1rem;
    font-size: 1.3em;
    font-weight: 600;
}

.terms-content-section h5{
    color: #4a2c2a;
    margin-bottom: 0.7rem;
    font-size: 1.1em;
    font-weight: 600;
    
}

.privacy-nested-list li{
    list-style-type: '-';
}

table{
    color: #333;
    border-collapse: collapse;
    font-size: 14px;
}

table tr th{
    font-weight: bolder;
    color: #4a2c2a;
}

table tr td{
    color: #333;
}

table tr th, table tr td{
    
    padding: 1rem;
}

.table-list ol li{
    margin-bottom: 0.5rem;
}

.table-list-style2 ol{
    padding-left: 1rem;
    padding-top: 1rem;
}

.third-party-links li a{
    color: #333;
    text-decoration: underline;
}

.disclosure-list li{
    margin-bottom: 0.5rem;
}