*{
    box-sizing: border-box;
}

h1{
    font-size: 2em;
    font-weight: bolder;
}

h2{
    font-size: 1.5em;
    font-weight: bolder;
}

h3{
    font-size: 1.17em;
    font-weight: bolder;
}

h4{
    font-size: 1em;
    font-weight: bolder;
}

h5{
    font-size: .83em;
    font-weight: bolder;
}

h6{
    font-size: .67em;
    font-weight: bolder;
}

a{
    text-decoration: none;
    color: inherit;
}



/* Home page */

.home-container{
    min-height: 100vh;
    padding: 3rem;
}

.page-header{
    width: 100%;
    display: flex;
}

.nav-header{
    width: 30%;
}

.page-nav{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.page-nav ul li{
    display: inline-block;
    padding: 0 2rem;
}

.page-nav ul li:first-child{
    color: #8fa382;
    font-weight: bolder;
}

.page-nav a:hover{
    text-decoration: underline;
}